<div class="name-container">
  <div class="name-line mint">Chris</div>
  <div class="marquee">
    <div class="marquee-inner">
      <span class="marquee-text">
        Innovative Problem Solver • Architect of Scalable Solutions • Full-Stack Developer • Builder of Digital Experiences • Code Craftsman • Visionary Technologist • Agile Collaborator • Adaptive Learner • Creative Engineer • Continuous Improver • Frontend Enthusiast • Backend Specialist
      </span>
      <span class="marquee-text">
        Innovative Problem Solver • Architect of Scalable Solutions • Full-Stack Developer • Builder of Digital Experiences • Code Craftsman • Visionary Technologist • Agile Collaborator • Adaptive Learner • Creative Engineer • Continuous Improver • Frontend Enthusiast • Backend Specialist
      </span>
    </div>
  </div>
  <div class="name-line small mint">Rasmussen</div>
</div>
<div>
</div>
