body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b4cfe9;
  font-family: Oswald, sans-serif;
  color: rgb(255, 255, 255);
}

.name-container {
  padding-top: 50%;
  text-align: center;
  width: 100%; /* Ensure it aligns with the marquee width */
}

.name-line {
  font-size: 40em; /* Adjust the size to your preference */
  margin-bottom: .5em;
  color: hsla(0, 0%, 100%, 0.94); /* Text color for the name */
}

.name-line.small {
  font-size: 20em; /* Adjust the size to fit below "Chris" */
  margin-top: .5em;
  color: #ffffff; /* Text color for the surname */
}

.content-wrapper {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 2.2em;
}

.marquee {
  width: 110em; /* Fixed width of 14 inches */
  height: 12em;
  display: flex;
  justify-content: flex-start; /* Start text at the very left */
  align-items: center;
  overflow: hidden;
  background-color: #000000; /* Background color */
  margin: 0 auto; /* Center the marquee bar on the page */
  border-radius: 12em; /* Add rounded corners if desired */
  margin-top: 10em; /* Adjust this value to move the marquee lower */
  margin-bottom: 10em;
}

.marquee-inner {
  display: flex;
  animation: marquee 60s linear infinite; /* Adjust speed as needed */
  width: max-content;
}

.marquee-text {
  color: #ffffff;
  font-style: italic;
  white-space: nowrap;
  font-size: 3.3em;
  text-transform: uppercase;
  padding-right: 2em; /* Space between the two texts */
}

/* Keyframes for continuous scrolling */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}
