/* Home page specific styles */
h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ffffff; /* White text */
}

p {
  font-size: 1.2em;
  color: #ffffff; /* White text */
}

body {
  height: 100%;
  margin: 0;
  color: #ffffff; /* White text */
  background-color: #76b4f6; /* Dark blue background */
  font-family: Oswald, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marquee {
  width: 80%; /* Adjust the width as needed */
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f8cb74; /* Background color of the marquee bar */
  border-radius: 25px; /* Rounded corners */
  margin: 20px 0; /* Margin to create space around the marquee */
  padding: 10px;
}

.marquee-inner {
  display: flex;
  width: 100%;
  animation: marquee 15s linear infinite; /* Adjust speed as needed */
}

.marquee-text {
  white-space: nowrap;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #001f3f; /* Dark blue text inside the marquee */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}
